[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "spatialHeatmap"]
	path = spatialHeatmap
	url = https://github.com/jianhaizhang/spatialheatmap
